@model BugTrackerWebApp.ViewModels.EnumerableViewModel<Project>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            
            @foreach (var item in Model.Enumerable)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <p class="card-footer">@item.GithubLink</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Trackable" asp-action="IndexByProject" asp-route-projectName="@item.Name">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>