@model Trackable

<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3"/>
    </form>
</div>