@using BugTrackerWebApp.Data.Enum
@model BugTrackerWebApp.ViewModels.EditTrackableViewModel


<section>
  <div class="container py-4 m-2">
    <div class="row">
      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
        <h3 class="text-center mb-3"><strong>Edit Task</strong></h3>
        <form method="post" asp-action="Edit">
          <input type="hidden" asp-for="UserName"/>
          <input type="hidden" asp-for="ProjectId"/>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4 is-valid">
                  <label class="form-label">Name</label>
                  <input asp-for="Name" class="form-control" aria-label="First Name..." type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-dynamic mb-4 is-valid">
                  <label class="form-label">Manager Email</label>
                  <input asp-for="LeadDevEmail" class="form-control" aria-label="First Name..." type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 h-25">
                <div class="input-group input-group-static is-valid mb-4">
                  <label asp-for="TrackType" class="ms-0">Task Type</label>
                  <select class="form-control border-success" asp-for="TrackType" asp-items="@Html.GetEnumSelectList<TrackType>()"></select>
                </div>
              </div>
              <div class="col-md-6 h-25">
                <div class="input-group input-group-static is-valid mb-4">
                  <label asp-for="Status" class="ms-0">Status</label>
                  <select class="form-control border-success" asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()"></select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-dynamic mb-4 is-valid">
                <label class="form-label">Project</label>
                <input asp-for="ProjectName" class="form-control" aria-label="First Name..." type="text">
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group input-group-dynamic is-valid">
                <label class="form-label">Description</label>
                <input asp-for="Description" type="text" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn bg-gradient-dark w-100">Edit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>