@using System.Runtime.InteropServices
@model BugTrackerWebApp.ViewModels.LoginViewModel

@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"]</span>
    </div>
}

<form asp-action="Login" class="form-signin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>